@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@300..700&display=swap');


body{
    
    background-image:url("/IMAGES/mountain.jpg");
    background-position:center;
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}



h1{
    background-color: rgb(255, 0, 183);
    color: bisque;
    text-align:justify;
    font-family:  "Pacifico", cursive;
}

p1{
    color:green;
}

#sample{
    background-color: brown;
    margin: 100px;
    padding:100px;
}

#sample_02{
    background-color: rgb(24, 4, 247);
}

.box01{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.box02{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 13);
    position:fixed;
    top: 10px;
}

.box03{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 195);
    position:relative;
    top: 20px;
}